<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
              <form (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="pName" name="product_name" ngModel placeholder="Product Name" required autofocus>
                  <label for="pName">product_name</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="catId" name="category_Id" ngModel placeholder="Category Id">
                  <label for="catId">Category Id</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="product_description" ngModel id="Desc" placeholder="Description">
                  <label for="Desc">Description</label>
                </div>

                <div class="form-floating mb-3">
                  <select class="form-control" id="rating" required name="product_rating" ngModel>
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="1">5</option>
                  </select>
                  <label for="rating">Rating</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="price" placeholder="Enter Price" name="product_price" ngModel>
                  <label for="price">Product Price</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="color" placeholder="color" name="product_color" ngModel>
                  <label for="color">Product Color</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="review" placeholder="Product Reviews" name="product_reviews" ngModel>
                  <label for="review">Product Reviews</label>
                </div>
  
                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Add Product</button>
                </div>
  
              
  
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>